@page "/lobby/{lobbyId}"
@model Deceit.Backend.Pages.LobbyModel
@{
    <script src="https://www.unpkg.com/%40microsoft/signalr@5.0.9/dist/browser/signalr.min.js"></script>
    <h1>Welcome to @Model.LobbyId</h1>
    <div>
        <label>Name: <input id="name" /></label>
    </div>
    <div>
        <button id="connect">Connect to Hub</button>
    </div>
    <div>
        <button id="forensic-scientist" disabled>I want to be the Forensic Scientist</button>
    </div>
    <div>
        <h4>Connected Players in Lobby</h4>
        <div id="connected-players">

        </div>
    </div>
    <div>
        <button id="start-game" disabled>Start Game</button>
    </div>
    <pre id="game-state">
    </pre>
    <script>window.lobbyId = "@Model.LobbyId";</script>
    <script src="/js/lobby.js"></script>
}
